# Email Configuration
EMAIL_ENABLED=false
EMAIL_FROM="Analytics BI <noreply@analytics-bi.com>"
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_username
SMTP_PASS=your_password

CORS_ORIGIN="http://localhost:5173,http://localhost:5001,http://localhost:5002,http://localhost:5003,http://localhost:5004"
EMBED_ALLOWED_ORIGINS="http://localhost:5173,http://localhost:5001,http://localhost:5002,http://localhost:5003,http://localhost:5004"
